<section class="skills">
    <div class="heading">
        <div class="head-block">
            <p>S</p><h3>kills</h3>
        </div>
    </div>
    <div class="row row1">
        <div class="col-lg-12 col-xs-12">
            <div class="angular">
                <img *ngIf="!showText" class="angular" src="/assets/images/icon_angular.png" alt="Angular" title="Angular" matTooltip="Angular" 
                    matTooltipClass="custom-tooltip" 
                    matTooltipPosition="below" />
                <img *ngIf="showText" class="angular" src="/assets/images/icon_angular.png" alt="Angular" title="Angular" />
                <p *ngIf="showText" class="img-caption">Angular</p>
            </div>
        </div>
    </div>
    <div class="row row2">
        <div class="col-lg-6 col-xs-6">
            <div class="html">
                <img *ngIf="!showText" src="/assets/images/icon_html.png" alt="HTML" title="HTML" matTooltip="HTML5" 
                    matTooltipClass="custom-tooltip" 
                    matTooltipPosition="below" />
                <img *ngIf="showText" src="/assets/images/icon_html.png" alt="HTML" title="HTML" />
                <p *ngIf="showText" class="html img-caption">HTML</p>
            </div>
        </div>
        <div class="col-lg-6 col-xs-6">
            <div class="sass">
                <img *ngIf="!showText" src="/assets/images/icon_sass.png" alt="Sass" title="Sass" matTooltip="SASS" 
                    matTooltipClass="custom-tooltip" 
                    matTooltipPosition="below" />
                <img *ngIf="showText"  src="/assets/images/icon_sass.png" alt="Sass" title="Sass" />
                <p *ngIf="showText" class="img-caption">Sass</p>
            </div>
        </div>
    </div>
    <div class="row row4">
        <div class="col-lg-6 col-xs-6">
            <div class="mongodb">
                <img *ngIf="!showText" src="/assets/images/icon_mongoDB.png" alt="MongoDB" title="MongoDB" matTooltip="MongoDB" 
                    matTooltipClass="custom-tooltip" 
                    matTooltipPosition="below" />
                <img *ngIf="showText" src="/assets/images/icon_mongoDB.png" alt="MongoDB" title="MongoDB" />
                <p *ngIf="showText" class="img-caption">MongoDB</p>
            </div>
        </div>
        <div class="col-lg-6 col-xs-6">
            <div class="mysql">
                <img *ngIf="!showText" src="/assets/images/icon_mysql.png" alt="MySQL" title="MySQL" matTooltip="MySQL" 
                    matTooltipClass="custom-tooltip" 
                    matTooltipPosition="below" />
                <img *ngIf="showText" src="/assets/images/icon_mysql.png" alt="MySQL" title="MySQL" />
                <p *ngIf="showText" class="img-caption">MySQL</p>
            </div>
        </div>
    </div>
    <div class="row row5">
        <div class="col-lg-12 col-xs-12">
            <div class="node">
                <img *ngIf="!showText" class="node" src="/assets/images/icon_node.png" alt="Node" title="Node" matTooltip="Node JS" 
                    matTooltipClass="custom-tooltip" 
                    matTooltipPosition="below" />
                <img *ngIf="showText"  class="node" src="/assets/images/icon_node.png" alt="Node" title="Node" />
                <p *ngIf="showText" class="img-caption">Node</p>
            </div>
        </div>
    </div>
</section>
