<section class="education">
    <div class="heading">
        <div class="head-block">
            <p>E</p><h3>ducation</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline time1">
                    <div class="timeline-icon">
                        <p>June <span>2013</span></p>
                    </div>
                    <div class="timeline-content">
                        <div>
                            <h3 class="title">high school</h3>
                            <p class="description">
                                John XXIII High School Virar, Mumbai<br>
                                High School<br>
                                Percentage: 81.45%  
                            </p>
                        </div>
                        
                    </div>
                </div>
                <div class="timeline time2">
                    <div class="timeline-icon">
                        <p>June <span>2016</span></p>
                    </div>
                    <div class="timeline-content">
                        <div>
                            <h3 class="title">Diploma</h3>
                            <p class="description">
                                Bhausaheb Vartak Polytechnic Vasai, Mumbai<br>
                                Diploma Computer Engineering<br>
                                Percentage: 76.25% 
                            </p>
                        </div>
                        
                    </div>
                </div>
                <div class="timeline time3">
                    <div class="timeline-icon">
                        <p>June <span>2019</span></p>
                    </div>
                    <div class="timeline-content">
                        <div>
                            <h3 class="title">Bachelor of Engineering</h3>
                            <p class="description">
                                Fr. Conceicao Rodrigues College Of Engineering Bandra, Mumbai<br>
                                Bachelor of Engineering Information Technology<br>
                                CGPA: 7.29  
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
