
<section class="work">
    <div class="heading">
        <div class="head-block">
            <p>W</p><h3>ork Experience</h3>
        </div>
    </div>
    <div class="row flex-row flex-nowrap outer-content">
        <div class="col-lg-4 col-xs-12">
            <div class="work-container work1">
                <div class="work-heading">
                    <h2>2019 - 2020</h2>
                    <div class="front-footer" *ngIf="scrWidth < 500">
                        <h6>Tap for details</h6>
                    </div>
                </div>
                <div class="work-contents">
                    <h5>2019 - 2020</h5>
                    <h3>TataClass Edge</h3>
                    <ul>
                        <li>XMl file generation and validation</li>
                        <li>R&D UI Path tool to create automation processes for various processes.</li>
                        <li>Write Java Script code for various video controls.</li>
                        <li>Javascrip code review and testing</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="work-container work2">
                <div class="work-heading">
                    <h2>2020 - 2021</h2>
                    <div class="front-footer" *ngIf="scrWidth < 500">
                        <h6>Tap for details</h6>
                    </div>
                </div>
                <div class="work-contents">
                    <h5>2020 - 2021</h5>
                    <h3>Quantsapp</h3>
                    <ul>
                        <li>Developing Web Application</li>
                        <li>To develop & maintain the main website client facing</li>
                        <li>Deployment and maintenance of servers with auto-scaling in AWS</li>
                        <li>Linking of Rest API's</li>
                        <li>Integrating Web-sockets, TCP sockets for real-time data feed</li>
                    </ul>
                </div>
            </div>
        </div>
         <div class="col-lg-4 col-xs-12">
            <div class="work-container work3">
                <div class="work-heading">
                    <h2>2020 - Present</h2>
                    <div class="front-footer" *ngIf="scrWidth < 500">
                        <h6>Tap for details</h6>
                    </div>
                </div>
                <div class="work-contents">
                    <h5>2020 - Present</h5>
                    <h3>Cateina Technologies</h3>
                    <ul>
                        <li>MEAN stack development</li>
                        <li>Design and develop REST api's</li>
                        <li>Code Review ,Bug's identification (Testing).</li>
                        <li>Create robust websites using angular framework</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>
