@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

$orangered: #fe4a26;
$darkmint: #649170;
$darkgrey: #828282;
$grey: #b4b4b4;

html, body {
    font-family: 'Nunito';
    height: 100%;
    background: black;
}